<html>
	<head>
		<title> FLASK CURD </title>
	</head>

	<body>

	<form method="POST" action="/product/updateProduct">

		<input type="hidden" name="id" value="{{ product[0] }}">

		<label>Title</label>
		<input type="text" value="{{ product[1] }}" name="title">
		<br>
		
		<label>Short Notes</label>
		<input type="text" value="{{ product[2] }}" name="shortnotes">
		<br>

		<label>Price</label>
		<input type="text" value="{{ product[3] }}" name="price">

		<br>
		<button type="submit" name="ubtn"> Save Updates </button>

	</form>

	</body>

</html>
